# Note that the naming of this file is incorrect for our case: these people do not "own" the provided files but are
# people with write-access to this repository (i.e. @Homebrew/core) who wish to approve changes to these files.
#
# Their review is required to merge PRs that change these files.
#
# To be explicit: we will never accept changes to this file adding people from outside the Homebrew GitHub
# organisation. If you are not a Homebrew maintainer: you do not personally "own" or "maintain" any formulae.

CODEOWNERS            @MikeMcQuaid @Homebrew/plc @Homebrew/tsc
CONTRIBUTING.md       @MikeMcQuaid @Homebrew/tsc
tap_migrations.json   @MikeMcQuaid @Homebrew/tsc
.github/              @MikeMcQuaid @Homebrew/tsc
cmd/                  @MikeMcQuaid

LICENSE.txt           @Homebrew/plc @MikeMcQuaid

audit_exceptions/permitted_formula_license_mismatches.json              @Homebrew/plc
audit_exceptions/provided_by_macos_depends_on_allowlist.json            @Homebrew/tsc
audit_exceptions/universal_binary_allowlist.json                        @carlocab @Homebrew/tsc
audit_exceptions/versioned_formula_dependent_conflicts_allowlist.json   @Homebrew/tsc

# TODO: Remove when https://github.com/Homebrew/homebrew-core/pull/113512 is merged.
Formula/apngasm.rb             @Homebrew/tsc
Formula/boost.rb               @Homebrew/tsc
Formula/boost@1.76.rb          @Homebrew/tsc
Formula/chakra.rb              @Homebrew/tsc
Formula/clickhouse-odbc.rb     @Homebrew/tsc
Formula/couchdb.rb             @Homebrew/tsc
Formula/dotnet.rb              @Homebrew/tsc
Formula/dotnet@6.rb            @Homebrew/tsc
Formula/dwdiff.rb              @Homebrew/tsc
Formula/easyrpg-player.rb      @Homebrew/tsc
Formula/freeciv.rb             @Homebrew/tsc
Formula/freeling.rb            @Homebrew/tsc
Formula/harfbuzz.rb            @Homebrew/tsc
Formula/hfstospell.rb          @Homebrew/tsc
Formula/libcdr.rb              @Homebrew/tsc
Formula/libfreehand.rb         @Homebrew/tsc
Formula/libical.rb             @Homebrew/tsc
Formula/liblcf.rb              @Homebrew/tsc
Formula/libmspub.rb            @Homebrew/tsc
Formula/libphonenumber.rb      @Homebrew/tsc
Formula/libpsl.rb              @Homebrew/tsc
Formula/libvisio.rb            @Homebrew/tsc
Formula/libxml2.rb             @Homebrew/tsc
Formula/libxslt.rb             @Homebrew/tsc
Formula/manticoresearch.rb     @Homebrew/tsc
Formula/mapnik.rb              @Homebrew/tsc
Formula/mimic.rb               @Homebrew/tsc
Formula/mpd.rb                 @Homebrew/tsc
Formula/mysql.rb               @Homebrew/tsc
Formula/node.rb                @Homebrew/tsc
Formula/node@10.rb             @Homebrew/tsc
Formula/node@12.rb             @Homebrew/tsc
Formula/node@14.rb             @Homebrew/tsc
Formula/node@16.rb             @Homebrew/tsc
Formula/node@18.rb             @Homebrew/tsc
Formula/openrct2.rb            @Homebrew/tsc
Formula/pazpar2.rb             @Homebrew/tsc
Formula/percona-server.rb      @Homebrew/tsc
Formula/percona-xtrabackup.rb  @Homebrew/tsc
Formula/php.rb                 @Homebrew/tsc
Formula/php@7.4.rb             @Homebrew/tsc
Formula/php@8.0.rb             @Homebrew/tsc
Formula/php@8.1.rb             @Homebrew/tsc
Formula/planck.rb              @Homebrew/tsc
Formula/postgresql@10.rb       @Homebrew/tsc
Formula/postgresql@11.rb       @Homebrew/tsc
Formula/postgresql@12.rb       @Homebrew/tsc
Formula/postgresql@13.rb       @Homebrew/tsc
Formula/postgresql@14.rb       @Homebrew/tsc
Formula/postgresql@15.rb       @Homebrew/tsc
Formula/qt.rb                  @Homebrew/tsc
Formula/rakudo-star.rb         @Homebrew/tsc
Formula/sile.rb                @Homebrew/tsc
Formula/spidermonkey.rb        @Homebrew/tsc
Formula/spidermonkey@78.rb     @Homebrew/tsc
Formula/tarantool.rb           @Homebrew/tsc
Formula/tectonic.rb            @Homebrew/tsc
Formula/tepl.rb                @Homebrew/tsc
Formula/tracker.rb             @Homebrew/tsc
Formula/urweb.rb               @Homebrew/tsc
Formula/vte3.rb                @Homebrew/tsc
Formula/webkitgtk.rb           @Homebrew/tsc
Formula/widelands.rb           @Homebrew/tsc
Formula/yaz.rb                 @Homebrew/tsc
Formula/zebra.rb               @Homebrew/tsc
Formula/zk.rb                  @Homebrew/tsc
Formula/znc.rb                 @Homebrew/tsc
Formula/zorba.rb               @Homebrew/tsc
